.App {
  text-align: center;
}

.center-container {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center;     /* Centers content vertically */
  height: 100vh;           /* Uses 100% of the viewport height */
}